@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vw-head';
  font-weight: 400;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwhead-regular.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwhead-regular.woff') format('woff');
}

@font-face {
  font-family: 'vw-head';
  font-weight: 700;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwhead-bold.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwhead-bold.woff') format('woff');
}

@font-face {
  font-family: 'vw-head';
  font-weight: 200;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwhead-light.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwhead-light.woff') format('woff');
}

@font-face {
  font-family: 'vw-text';
  font-weight: 400;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwtext-regular.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwtext-regular.woff') format('woff');
}

@font-face {
  font-family: 'vw-text';
  font-weight: 700;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwtext-bold.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/vwtext-bold.woff') format('woff');
}

@font-face {
  font-family: 'vw-head-ar';
  font-weight: 700;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/HelveticaNeueArabicBD.woff') format('woff');
}

@font-face {
  font-family: 'vw-text-ar';
  font-weight: 400;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/HelveticaNeueArabicLT.woff') format('woff');
}

@font-face {
  font-family: 'roboto-vi';
  font-weight: 200;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/roboto-v20-vietnamese_latin-ext_latin-300.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/roboto-v20-vietnamese_latin-ext_latin-300.woff') format('woff');
}

@font-face {
  font-family: 'roboto-vi';
  font-weight: 400;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/roboto-v20-vietnamese_latin-ext_latin-regular.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/roboto-v20-vietnamese_latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'roboto-vi';
  font-weight: 700;
  font-display: swap;
  src: url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/roboto-v20-vietnamese_latin-ext_latin-700.woff2') format('woff2'),
    url('https://www.volkswagen.co.uk/apps/clientlibs/vwa-ngw18/ngw18-frontend/clientlibs/statics/fonts/roboto-v20-vietnamese_latin-ext_latin-700.woff') format('woff');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'vw-text';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
